    </div> <!-- /app__content -->

    <footer class='footer'>
      <h2>How this page got to you</h2>
      <div class='netinfo' id='netinfo'>
        <div class='netinfo__you netinfo__node'>
          <img src='{{getVersionedPath "/images/icons/laptop.svg"}}' alt='Laptop representing you' />
          <h3>You</h3>
          <ul>
            <li data-netinfo='clientCity'>Locating...</li>
            <li data-netinfo='clientIP'></li>
          </ul>
        </div>
        <div class='netinfo__conn netinfo__conn--client'>
          <div class='netinfo__connlabel'><span data-netinfo='sendTimeMS'><i></i>ms</span></div>
          <div class='netinfo__connline netinfo__connline--right'></div>
          <div class='netinfo__connlabel'></div>
          <div class='netinfo__connline netinfo__connline--left'></div>
          <div class='netinfo__connlabel'><span data-netinfo='resTimeMS'><i></i>ms</span></div>
          <div class='netinfo__connlabel netinfo__connlabel--bottom' data-netinfo='clientDistance'><i></i>km</div>
        </div>
        <div class='netinfo__offline netinfo__node'>
          <img src='{{getVersionedPath "/images/icons/offline.svg"}}' alt='Offline' />
          <h3>Internet</h3>
        </div>
        <div class='netinfo__offline netinfo__descr'>
          <div class='netinfo__descr-block'>When you loaded this page, you had no internet connection, so you are seeing content that has been previously downloaded and stored on your device.</div>
        </div>
        <div class='netinfo__fastly netinfo__node'>
          <img src='{{getVersionedPath "/images/icons/fastly.svg"}}' alt='Fastly logo' />
          <h3>Fastly</h3>
          <ul>
            <li data-netinfo='edgeCity'>Locating...</li>
            <li data-netinfo='edgeID'></li>
          </ul>
        </div>
        <div class='netinfo__conn netinfo__conn--backend'>
          <div class='netinfo__connlabel'></div>
          <div class='netinfo__connline netinfo__connline--right'></div>
          <div class='netinfo__connlabel'><span data-netinfo='edgeObjectState'></span> <span data-netinfo='edgeProcessingTimeMS' title='Connection time to backend + Fastly overhead'>(<i></i>ms)</span></div>
          <div class='netinfo__connline netinfo__connline--left'></div>
          <div class='netinfo__connlabel'></div>
          <div class='netinfo__connlabel netinfo__connlabel--bottom' data-netinfo='backendDistance'><i></i>km</div>
        </div>
        <div class='netinfo__turnarrow'><img src='{{getVersionedPath "/images/turn-around.svg" }}' /></div>
        <div class='netinfo__hit-meta netinfo__descr'>
          <div class='netinfo__descr-block'>
            <div data-netinfo='edgeObjectState'></div>
            <div class='netinfo__minor' data-netinfo='edgeObjectStateDesc'></div> <span data-netinfo='edgeProcessingTimeMS' title='Fastly processing time'>(<i></i>ms)</span>
          </div>
          <div class='netinfo__connlabel netinfo__connlabel--bottom' data-netinfo='backendDistance'><i></i>km</div>
       </div>
        <div class='netinfo__backend netinfo__node'>
          <img src='{{getVersionedPath "/images/icons/server.svg"}}' alt='Server' />
          <h3>Origin</h3>
          <ul>
            <li data-netinfo='backendCity'>Locating...</li>
            <li data-netinfo='backendIP'></li>
            <li data-netinfo='backendExecTimeMS' title='Backend execution time' class='tip'><i></i>ms</li>
          </ul>
        </div>
      </div>

      <ul class='nettiming' id='nettiming'>
        <li class='nettiming__overhead tip' id='nettiming-overhead' title='Overhead: Time not attributable to anything else'></li>
        <li class='nettiming__conn tip' id='nettiming-conn' title='Connection: DNS, TCP and request dispatch time'></li>
        <li class='nettiming__fastly tip' id='nettiming-fastly' title='Fastly: Time spent in Fastly, request to and response from backend'></li>
        <li class='nettiming__beexec tip' id='nettiming-beexec' title='Execution: Time spent processing request in the backend'></li>
        <li class='nettiming__resp tip' id='nettiming-resp' title='Response: Time spent downloading the response'></li>
      </ul>
    </footer>
  </div> <!-- /app__layout -->

  <script src="{{getVersionedPath "/js/tippy.min.js"}}" defer></script>
  <script src="{{getVersionedPath "/js/net-info.js"}}" defer></script>
  <script src="{{getVersionedPath "/js/analytics.js"}}" defer></script>
  <script src="{{getVersionedPath "/js/sse.js"}}" defer></script>
  </body>
</html>
