<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Fastly Progressive Web Application</title>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#e82c2a" />

    <link rel="manifest" href="{{getVersionedPath "/manifest.json"}}">

    <link rel="stylesheet" href="{{getVersionedPath "/css/ux-platform.css"}}">
    <link rel="stylesheet" href="{{getVersionedPath "/css/tippy.css"}}">
    <link rel="stylesheet" href="{{getVersionedPath "/css/styles.css"}}">
  </head>
  <body class='online'>
  <div class="layout">
    <header class="header">
      <a href='/' class="header__title">news reader</a>
      <div class="header__credit">Content from</div>
      <div class="header__creditlink"><a href='https://theguardian.com'><img src='{{getVersionedPath "/images/guardian-logo.svg"}}' alt='The Guardian logo'/></a></div>
    </header>
    <div class="content">
